<div class="container">
<app-product-form></app-product-form>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Brand Name</th>
            <th>Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pro of productService.ListOfProduct">
            <td>{{pro.name}}</td>
            <td>{{pro.brandName}}</td>
            <td>{{pro.categoryName}}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Actions
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#" (click)="changeProductDetails(pro)">Edit</a>
                      <a class="dropdown-item" href="#" (click)="deleteProduct(pro.id)">Delete</a>
                     
                    </div>
                  </div>
            </td>
        </tr>
    </tbody>
</table>
