<div class="container my-3 bg-light">
    <div class="col-md-12 text-center">
    <a class="btn btn-outline-secondary" routerLink="" role="button">Home</a>&nbsp;&nbsp;
    <a class="btn btn-outline-secondary" routerLink="product" role="button">Product List</a>&nbsp;&nbsp;
    <a class="btn btn-outline-secondary" routerLink="brand" role="button">Brands</a>&nbsp;&nbsp;
    <a class="btn btn-outline-secondary" routerLink="category" role="button">Categories</a>
    </div>
</div>

<router-outlet></router-outlet>
